doctype html
html
    block vars
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge") 
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="robots" content="noindex,nofollow")
        if favicon
            link(rel="icon" href=assetsUrl+'/'+favicon type="image/x-icon")
        title=title
        if styles
            each s in styles
                if s
                    link(rel="stylesheet" href=assetsUrl+'/'+s)
    body
        block content
        if scripts
            each s in scripts
                if s
                    script(src=assetsUrl+'/'+s)